name: fridge_feast
description: A new Flutter project.
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  google_generative_ai: ^0.4.4
  image_picker: ^1.0.7
  flutter_riverpod: ^2.4.9
  google_fonts: ^6.1.0
  lottie: ^3.1.0
  intl: ^0.19.0
  path_provider: ^2.1.2
  flutter_spinkit: ^5.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/animations/
    - assets/images/
